USE [QLVT_DATHANG]
GO
/****** Object:  StoredProcedure [dbo].[sp_Kiem_Tra_MasoDDH]    Script Date: 04/09/2023 15:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Kiem_Tra_MasoDDH]
@MasoDDH nchar(8)
AS
BEGIN
	IF EXISTS(SELECT 1 FROM DatHang DDH WHERE DDH.MasoDDH = @MasoDDH)
		RETURN 1;
	ELSE
	IF EXISTS(SELECT 1 FROM LINK0.QLVT_DATHANG.dbo.DatHang DDH WHERE DDH.MasoDDH = @MasoDDH)
		RETURN 1;
	RETURN 0;
END
GO
